<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>My name is steven and i love love love to play ping pong. It is amazing how much i love it like crazy. It is soo fun and i hope to get better everyday.</p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Latest Posts</h4>
                <div class="hline-w"></div>
                <p>
                    {% for post in site.categories['blog'] limit:3 %}
                        <a class="a-footer" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a><br/>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
