<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h3>Hello, welcome, salutation.</h3>
              <h1>I welcome you to take a peek through this periscope into my life!</h1>
              <h5></h5>
              <h5></h5>
            </div>
            <div class="col-lg-12 himg">
                <img src="{{ "/assets/img/cover_photo3.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
